:root {
  --transition: all 0.7s;
}

.button-container {
  display: flex;
  width: 100vw;
  height: 100px;
  justify-content: center;
  align-items: center;
  padding-bottom: 300px;
  margin-top: 50px;
  gap: 1.4rem;
}

#dark {
  background: linear-gradient(0deg, rgb(37, 37, 37) 0%, rgba(0, 0, 0, 1) 100%);
  transition: var(--transition);
}

#light {
  background: linear-gradient(
    0deg,
    rgb(255, 255, 255) 0%,
    rgb(206, 206, 206) 100%
  );
  transition: var(--transition);
}

.container {
  margin: 0 auto;
  padding-top: 100px;

  max-height: fit-content;
  max-width: fit-content;
  border-radius: 10px;
  height: fit-content;
  width: 100vw;
}
.calculator-grid {
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(4, 8rem);
  /* grid-template-rows: minmax(7rem, auto), repeat(5, 6rem); */
  max-width: 100%;
  max-height: 100%;
}
.span-two {
  grid-column: span 2;
}
.output {
  padding: 1rem;
  border-radius: 10px 10px 0 0;
  display: flex;
  flex-direction: column;
  max-height: fit-content;
  height: 150px;

  align-items: flex-end;
  justify-content: space-around;
  grid-column: 1/-1;

  word-wrap: break-word;
  word-break: break-all;
}

.output .previous-operand {
  font-size: 2.2rem;
}
.output .current-operand {
  font-size: 4rem;
}
.output .long-char {
  font-size: 2.4rem;
}
#dark .calculator-grid {
  box-shadow: 0px 0px 1px 8px rgb(255, 255, 255);
  transition: var(--transition);
}
#light .calculator-grid {
  box-shadow: 0px 0px 1px 8px rgba(46, 45, 9, 0.839);
  transition: var(--transition);
}

#dark .output {
  background-color: rgba(0, 0, 0, 0.75);
  transition: var(--transition);
}
#dark .output .previous-operand {
  color: rgba(255, 255, 255, 0.75);
  transition: var(--transition);
}
#dark .output .current-operand {
  color: white;
  transition: var(--transition);
}
#dark .calculator-grid > button {
  background-color: rgba(255, 255, 255, 0.75);
  border: 1px solid white;
}
#dark .calculator-grid > button:hover,
.calculator-grid > button:focus {
  background-color: rgba(255, 255, 255, 0.9);
}
#light .output {
  background-color: rgba(239, 239, 239, 0.75);
  transition: var(--transition);
}
#light .output .current-operand {
  color: rgb(0, 0, 0);
  transition: var(--transition);
}
#light .output .previous-operand {
  color: rgba(0, 0, 0, 0.75);
  transition: var(--transition);
}

#light .calculator-grid > button {
  background-color: hsla(0, 2%, 80%, 0.814);
  border: 1px solid white;
}
#light .calculator-grid > button:hover,
.calculator-grid > button:focus {
  background-color: rgba(255, 255, 255, 0.9);
}

.calculator-grid > button {
  font-size: 2.4rem;
  height: 10vh;
  cursor: pointer;
  outline: none;
}

.calculator-grid > button:nth-last-child(1) {
  border-radius: 0 0 10px 0;
}
.calculator-grid > button:nth-last-child(3) {
  border-radius: 0 0 0 10px;
}
